<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285699601271-jq9ltm6kg4l7p2ieuksmjssjsdu00pgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285699601271-jq9ltm6kg4l7p2ieuksmjssjsdu00pgg</string>
	<key>API_KEY</key>
	<string>AIzaSyAkJ7FN4wdhQQVaEuNZOPsAz7ARTCXay-0</string>
	<key>GCM_SENDER_ID</key>
	<string>285699601271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nftmarket</string>
	<key>PROJECT_ID</key>
	<string>app-firebase-9c993</string>
	<key>STORAGE_BUCKET</key>
	<string>app-firebase-9c993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285699601271:ios:592f76912b1b5ebddaa772</string>
</dict>
</plist>